// fonts + font styles
$font-main: 'Rubik', sans-serif;
$color-font: #f3f4f5;
$font-sizeXS:1rem;
$font-sizeS:1.5rem;
$font-sizeL:1.8rem;

// colors
$color-favorites: rgb(218, 218, 218);
$color-nofavorites: rgb(36, 36, 36);
$color-black: black;

