.footer {
  font-size: 1.5rem;
  display: flex;
  justify-content: space-between;
  padding: 2rem;
  background-image: url(../images/pexels_cocktail_original.jpg);
  background-size: 100%;
  color:white;
  height: 8vh;
  &_p{
    font-size: 1.8rem;
  }
}
