.footer {
  font-size: $font-sizeS;
  display: flex;
  justify-content: space-between;
  padding: 2rem;
  background-image: url(../images/pexels_cocktail_original.jpg);
  background-size: 100%;
  color:$color-font;
  height: 8vh;
  &_p{
    font-size: $font-sizeM;
  }
}
