html {
  font-size: 62.5%;
  font-family: $font-main;
}

.header {
  padding: 2%;
  height: 20vh;
  color: $color-font;
  background-image: url(../images/pexels_cocktail_p.jpg);
  background-size: 100%;

  &__title {
    font-size: 2.5rem;
    text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.86);
    padding-bottom: 1.5rem;
  }

  &__form__label--input {
    width: 50%;
    height: 1.7rem;
    padding-left: 0.5rem;
    font-size: $font-sizeXS;
  }
}

@media (min-width: 768px) {
  .header {
    height: 30vh;
    background-image: url(../images/pexels_cocktail_m.jpg);

    &__title {
      font-size: 4rem;
      padding-bottom: 3.5rem;
    }

    &__form__label--input {
      width: 50rem;
      height: 2.7rem;
      font-size: $font-sizeS;
    }
  }
}

@media (min-width: 1200px) {
.header {
  padding: 2%;
  height: 30vh;
  background-image: url(../images/pexels_cocktail_original.jpg);

  &__title {
    font-size: 8rem;
    padding-bottom: 3.5rem;
  }

  &__form__label--input {
    width: 50rem;
    height: 3.6rem;
    padding-left: 1rem;
    font-size: $font-sizeL;
  }
}
}

