body {
  padding: 2rem;
  height: 100vh;
  background-color: $color-bg;
  font-family: $font-main;
}

.img{
  width:200px;
}

.favorites{
  background-color: black;
  color:white;
}

.SectionList{
  width: 40vw;
  background-color: brown;
}

.SectionFav{
  width: 40vw;
  background-color: aqua;
}

