html{
  font-size: 62.5%;
  font-family: 'Rubik', sans-serif;
}

.main {
  display: flex;
  background-color: rgb(22, 21, 23);
  justify-content: space-between;
  min-height: calc(100vh - 20vh - 8vh);
  color: $color-font;

  &_sectionList {
    width: 50vw;
    padding: 2rem;
  }

  &_sectionFav {
    padding: 2rem;
    width: 50vw;
    background-color: rgb(57, 57, 56);

    &_resetContainer {
        width: 100%;
        display: flex;
        padding-top: 0.8rem;
        padding-bottom: 0.2rem;
        justify-content: center;
      }
  }
  
}

.listContainer {
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 1rem;
}

.card {
  padding: 1rem 2rem;
  width: fit-content;
  border: 1px solid grey;
  border-radius: 3px;
  margin: 0.5rem;
  width: 12rem;
  height: 15rem;
  text-align: center;
  list-style: none;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 5fr 1fr;
  position: relative;

  &_title {
    max-width: 75px;
    font-size: $font-sizeXS;
    padding-bottom: 0.8rem;
    grid-column: 1/3;
  }

  &_img {
    width: 75px;
    border-radius: 3px;
    columns: 1/2;
  }

  &_remove {
    float: right;
    border-radius: 50%;
    background-color: $color-black;
    width: fit-content;
    height: fit-content;
    padding: 0.4rem 0.7rem;
    font-weight: bold;
    font-size: $font-sizeXS;
    grid-column: 2/3;
    position: absolute;
    transform: translate(10%, 15%);
  }

}
@media (min-width: 768px) {

.main {

    &_sectionList {
      width: 50vw;
      padding: 3rem;
    }

    &_sectionFav {
      padding: 3rem;
      width: 50vw;

        &_resetContainer {
            padding-top: 1rem;
            padding-bottom: 0.5rem;
          }
    }

  }

  .listContainer {
    padding-bottom: 1.5rem;
  }

  .card {
    padding: 1.5rem 3rem;
    margin: 0.8rem;
    width: 18rem;
    height: 20rem;

    &_title {
      max-width: 150px;
      font-size: $font-sizeS;
      padding-bottom: 1.2rem;
    }

    &_img {
      width: 100px;
    }

    &_remove {
      padding: 0.5rem 0.8rem;
      font-size: $font-sizeS;
      transform: translate(75%, 15%);
    }

  }

}


@media (min-width: 1200px) {
  .main{
    min-height: calc(100vh - 30vh - 8vh);

    &_sectionList {
        width: 60vw;
        padding: 4rem;
      }
    
      &_sectionFav {
        padding: 4rem;
        width: 30vw;

        &_resetContainer {
            padding-top: 1.5rem;
            padding-bottom: 0.5rem;
          }
      }
  }

  .listContainer{
    padding-bottom: 2rem;
  }

  .card{
    padding: 2rem 4rem;
    margin: 1rem;
    width: 25rem;
    height: 25rem;

    &_title {
        max-width: 150px;
        font-size: $font-sizeS;
        padding-bottom: 1.2rem;
      }
    
    &_img {
      width: 150px;
    }

    &_remove {
      padding: 1rem 1.2rem;
      font-size: $font-sizeS;
      transform: translate(40%, 25%);
    }

  }
}

.favorites {
  background-color: $color-favorites;
  color: $color-black;
}

.noFavorites {
  background-color: $color-nofavorites;
}